@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');


:root{
  --primary-color: #8e2ad6;
}

body{
  margin: 0 30px;
  font-family: "Poppins", sans-serif;
  background: #f1f1f1;
}

h1, h2, h3, h4{
  font-weight: 500;
}

.App{
  font-size: 1.2rem;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 1px dotted var(--primary-color);
}

/*Site header*/
.site-header h1{
  font-size: 1.5rem;
  color: var(--primary-color);
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

.site-header .categories{
  text-align: right;
}
.site-header .categories a{
  margin: 10px;
}


/* Reviews list************************* */
.review-card{
  background: #fff;
  margin: 20px auto;
  padding: 1px 20px 20px 90px;
  position: relative;
  overflow: hidden;
}

.review-card .rating{
position: absolute;
top: 0;
left: 0;
width: 2rem;
height: 100%;
padding: 20px;
font-size: 2rem;
font-weight: 700;
background-color: var(--primary-color);
color: #fff;
text-align: center;
}
.review-card .rating.high{
  background-color: rgb(0, 42, 255);
}

.review-card h2{
  margin-bottom: 0;
}

.review-card small{
  margin-right: 10px;
  color: #777;
}